@charset "ISO-8859-1";
/* user-profile.css */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

/* Overall layout */
.update {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #82A0AA;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.col {
    flex: 1;
    margin-right: 20px;
}

.col:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 10px;
    background-color: #82A0AA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #41817F;
}
